* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

.img{
    width: 200px;
    height: 100px;
}

.p{
    background-image: url('ef5d5a59c4a4d9d1deb9a3722b744951.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 100px;
}